
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  max-width: 65em;
  margin: 0 auto;
  padding: 0 1em;
  font: normal 1em Arial, sans-serif;
  color: darkRed;   background-color: #ffffff;
}

p, ol, ul, dl {color: #333;}


header {
  margin: 0;
  padding: 1em;
  background-color: #e7e8ee;
}

header a {
  padding: .5em .5em .5em 3em;
  height: 3em;
  background: url('../img/about.svg') no-repeat left;
  text-decoration: none;
  border: 1px solid transparent;
}

header p {
  font-variant: small-caps;
  font-size: 2em;
}

header span {
  font-weight: bold;
}

.akzentfarbe1 {
  color:orange;
}

.akzentfarbe2 {
  color: darkred;
}


h1, h2 {
  color: currentColor;
}

h3 {
  color: #999;
}

a {
  color: currentColor;
  font-weight: bold;
}
a:hover, a:focus {
  color: #888;
}

a:focus,
a:hover {
  background-color:gold;
}

a.more {
  float: right;
}
a.more::before {
  content: url('../img/more.svg');
  margin-right: .5em;
}
a.more:hover, a.more:focus {
  color: black;
}
a.more:hover::before, a.more:focus::before {
  color: white;
}

h2.img {
  padding-left: 2.5em;
}
.img.about {
  background: url('../img/about.svg') left no-repeat;
  background-size: 2.5em;
}
.img.cash {
  background: url('../img/cash.svg') left no-repeat;
  background-size: 1.25em;
}
.img.group {
  background: url('../img/about.svg') left no-repeat;
  background-size: 2.5em;
}

img, a img {
  border: 0 none;
}

article > h2 {
  clear: both;
}
article > h2 + p > img {
	width: 33%;
  float: left;
  margin: .15em 1.5em 1.5em 0;
}
article > h2:nth-of-type(odd) + p > img {
  float: right;
  margin: .15em 0 1.5em 1.5em;
}

dl {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em 2em;
  margin-bottom: 3em;
}
dl > * {
  margin: 0;
  padding: 0;
}
dt {
  font-weight: bold;
}
dt::after {
  content: ":";
}

.news {
  background: no-repeat top .5em right .5em #eee;
  padding: 0 1em 1em;
}

.news h3 {
  color: #666;
}

.news.consultation {
  background-image: url('../img/phone.svg');
}
.news.info {
  background-image: url('../img/letter.svg');
}

aside ul,
.news ul {
  margin: 2em 0;
  padding: 0;
  color: orange;
  list-style-position: inside;
}
aside li,
.news li {
  font-weight: bold;
  padding: .5em 0;
}
.news li span {
  color: #474747;
}
aside ul {
  color: #333;
}



nav ul {
  box-shadow: 0 .6em .3em 0 rgba(0, 0, 0, .75);
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav a {
  background-color: darkred;
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 95%;
  margin: .5em 0;
  padding: .5em 1em;
  border-radius: .5em;
}

nav a[aria-current=page]{
 color: orange;
 font-weight: bold;
}

nav a:hover,
nav a:focus {
  background-color: gold;
  color: currentColor;
}

nav a:hover::after ,
nav a:focus::after{
  color: transparent;
}

footer {
  margin: 2em 0;
  display: flex;
  color: #989898;
}

footer ul,
footer p {
  flex: 1 1 100%;
}

footer ul {
  padding-left: 0;
  margin-left: 0;
}

footer li  {
  list-style-type: none;
  display: inline-block;
  border-left: .2em solid #989898;
}
footer li:first-child  {
  border-left-color: transparent;
}
footer a {
  color: #999;
}
footer a:hover, footer a:focus {
  color: #333;
}
footer li a {
  padding: 0 .5em 0 .7em;
}
footer p {
  margin-top: 0;
  padding-top: 0;
  text-align: right;
}

main  {
  padding: 1em 0;
  margin: 2em 0;
}


nav ul {
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 25em) {
  header {
    height: 10em;
  }
}


@media screen and (min-width: 45em) {
  header {
    background: #e7e8ee url('../img/header.png') no-repeat right bottom ;
    background-size: contain;
  }


  nav ul {
    flex-direction: row;
    background-color: darkred;
  }

  nav li {
    margin: 0;
    flex: 1 1 0%;
  }


  main {
    display: flex;
    flex-flow: row wrap;
  }

  main > * {
    flex: 1 100%;  
  }

  section {
    flex: 1 48%;  
    margin: 1%;
  }
}


@media screen and (min-width: 58em) {
  section, aside {
    flex: 1 31%;  
    margin: 1%;
  }

  article {
    flex: 0 0 100%;
    margin: 1%;
  }


  article li,
  article blockquote {
    max-width: 40em;
  }

  

  aside p {
    margin-bottom: 3em;
  }
  aside p:last-child {
    margin-bottom: 1.2em;
  }
}
